.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F4F5F7;
    padding: 46px 15px;

    &__text-wrap {
        max-width: 555px;
    }

    &__text-wrap:last-child {
        margin-top: 20px;

        .about__text {
            margin-bottom: 0;
        }
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
    }

    &__text {
        margin: 8px 0 12px;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
    }

    @include middle-screan {
        padding: 77px 9% 74px 9.3%;
        flex-direction: row;

        &__title {
            display: block;
            margin: 0 0 8px;
        }

        &__text {
            margin: 0;
        }

        &__text-wrap:last-child {
            margin-top: 0;
            margin-left: 29px;

            .about__text {
                margin: 0;
            }
        }
    }
}