.customers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #E3E3E3;

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon-wrap {

        flex: 1;
        padding: 15px;
        height: 94px;
        display: flex;
        background-color: white;
        border-bottom: 1px solid #E3E3E3;
        border-right: 1px solid #E3E3E3;
    }

    &__icon-wrap:last-child {
        border-right: none;
    }

    &__icon {
        object-fit: scale-down;
        margin: auto;
        max-width: 100%;
        max-height: fit-content;
        filter: brightness(0);
        -webkit-filter: brightness(0);
    }

    @include large-screan {
        padding: 20px 9.3%;
        background-color: white;
        flex-wrap: nowrap;
        justify-content: space-between;

        .customers__row {
            align-items: flex-start;
            flex: 1;
            justify-content: space-between;

        }

        &__icon-wrap {
            padding: 0;
            border: none;
            max-width: fit-content;

            .customers__icon[alt="Apple"] {
                margin-right: 100px;
            }

            .customers__icon[alt="Mashable"] {
                margin-left: 3px;
            }
        }
    }
}

.second-customers {
    @include middle-screan {
        padding: 33px 9.3% 20px;
    }
}