.features {
    position: relative;
    width: 100%;
    background-color: #E3E3E3;

    .featurs__half-pic {
        display: none;
    }

    @include middle-screan {
        background-color: white;
        padding: 77px 9% 108px;
        overflow-x: hidden;

        .featurs__half-pic {
            display: block;
            position: absolute;
            max-width: 9%;
            top: 337px;
            left: 0;
            z-index: 0;
        }

        .featurs__menu-picture {
            display: block;
            position: absolute;
            top: 79px;
            left: 698px;
        }
    }
}

.main-featurs-wrap {
    margin-top: 2px;
    padding: 48px 15px 39px;
    background-color: white;

    &:nth-child(3) {
        padding: 41px 15px 39px;

        .main-featurs-wrap__title {
            margin: 0 0 25px 0;
        }
    }

    &:nth-child(4) {
        padding: 40px 15px 50px;
    }

    &__green-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: #009B4D;
        margin: 0 0 17px 0;
    }

    &__title {
        margin: 0 0 19px 0;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 28px;
    }

    @include middle-screan {
        max-width: 462px;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 1;
        background: none;

        &:first-child {
            padding-top: 0;
        }

        .featurs-pic-wrap {
            display: none;
        }

        &~.main-featurs-wrap {
            display: none;
        }

        .grean-featurs {
            display: block;
        }

        .grean-acquire {
            display: none;
        }

        &__green-title {
            margin-bottom: 24px;
            padding-left: 2px;
        }

        &__title {
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
            margin-bottom: 30px;
        }

        &__text {
            margin-bottom: 42px;
            padding-left: 2px;
        }

        .acquire-wrap {
            display: block;
        }

    }
}

.main-featurs-wrap:first-child {
    padding-top: 48px;
}

.grean-featurs {
    display: none;
}

.grean-acquire {
    display: block;
}

.acquire-wrap {
    display: none;
    padding-left: 3px;

    &__htef {
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        text-decoration: none;
        color: $blue-color;
        margin-bottom: 10px;
    }

    &__htef-ico {
        vertical-align: text-top;
        margin: 1px 9px 0 0;
    }

    &__text {
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 18px;
        border-bottom: 3px solid $blue-color;
        margin: 0;
    }

    &__engage-dev-option {
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        color: $font-color;
        text-decoration: none;
        padding: 20px 0 21px;
        border-bottom: 1px solid $font-color;
    }

    .engage-dev-ico {
        vertical-align: top;
        margin-right: 9px;
        margin-left: 1px;

        &[alt="folders-ico"] {
            margin: 4px 9px 0 2px;
        }
    }

}

.featurs-pic-wrap {
    width: 100%;

    &__img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        object-fit: contain;
        margin-bottom: 19px;
    }

    &__text {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(43, 41, 45, 0.6);
    }
}

.featurs__menu-picture {
    display: none;
}